<!DOCTYPE html>
<html>
<head>

	<title>{{page.title | upcase}}</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style/main.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style/highlighter.css">
	<script type="text/javascript" src="{{site.baseurl}}/scripts/prefixfree.min.js"></script>
</head>
<body>

	{% include topbar.html %}

	<h1>{{page.title}}</h1>

	{{content}}

	{% include footer.html %}
	
	{% include analytics.html %}

	{% include close_fiddles.html %}	
</body>
</html>